<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>第一个模板文件</title>
    {% if name %}
    <h1>Hello {{ name|capitalize }}!</h1>
    {% else %}
    <h1>Hello World!</h1>
    {% endif %}

    <ul>
    {% for comment in comments %}
    <li>{{ comment }}</li>
    {% endfor %}
    </ul>

{% macro render_comment(comment) %}
<li>{{ comment }}</li>
{% endmacro %}

<ul>
{% for comment in comments %}
{{ render_comment(comment) }}
{% endfor %}
</ul>

</head>
<body>

</body>
</html>